In [1]:
from mysql.connector import connect             # import connect module after check
import numpy  as np                             # numpy array manipulation
import pandas as pd                             # We wil be storing our data pulled from DB into dataframes for better management 
from pylab import rcParams                      # I have no idea what this is...
import pkgutil                                  # Just an optional import to check if a library exist in python..not very important
import traceback                                # For tracing errors exception thrown by interpreter
from string import Template                     # To make generic queries easier to change

In [2]:
 ''' (1) if you wish to connect to the SRL database, enter your 'user' and 'password' in the _db_config variable below this comment. 
If you do not have user or password, contact <mathias.hiron@gmail.com> for gaining access '''
db_config = {
        'user'    : 'amine',
        'password': 'n1hFerXeQa2MRh7e',
        'host'    : 'franceioi.cinniket56wn.eu-central-1.rds.amazonaws.com',
        'database': 'srl',
        'port'    : '3306'
    }
    
    # if you wish to select tables you're interested in, uncomment what you need and comment what you don't need
tables_config    = [
        "participant",   # This table lists all participants 
        "participer",    # This table lists all participants who have participated into an activity
        "activite",      # This table lists all activities of a participant 
        "clavier",       # This table lists all keyboard logs, mainly used to track participant's inputs to check if user is idle or not
        "souris",        # This table lists all mouse logs, mainly used to track participant's mouse position to check if it has changed between two timestamp (Idle check)
        "modification",  # This table tracks all modifications that has been made by a participant in the code editor
        "navigation",    # This table tracks the participant's navigation through the platform (whether they are on the Help/Exercice/Home screen)
        "pas_a_pas",     # This table tracks the participant's usage of the step component in the platform
        "validation",    # This table lists all exercices done validated and/or experimented by a participant 
        "connexion",     # This table tracks all participants' connexions
        "sujet"          # This table lists all subjects done by learners
]

In [3]:
def check_module(module_name, package_name):
    if not pkgutil.find_loader(module_name):              # Check if a module is installed, used to not crash the execution and handle import stuff automatically
        eval("!pip install " + "mysql-connector-python")  # Install the connect module if not by providing the package 'mysql-connector-python' in argument

def get_connection(config):                     # We will pass into this procedure a configuration variable highlighting connection parameters (user, password, host, database, port)
    return connect(**config)                    # Open he connection and connect to the database
def close_connection(connection):               # Close connection after you're done.
    connection.close()

def get_tables_from_db(id_connection, table_config, SQL_query):
    df_tables = dict()
    mysql_connection = get_connection()
    df = dict()                                 # Data import 
    sql_connection = get_connection(db_config)

def query_db(query):
    df_table = {}
    mysql_connection = get_connection(db_config)
    with mysql_connection.cursor() as cursor: # while connected 
        try:
            cursor.execute(query)
            result = cursor.fetchall()
            columns_name = np.array([cursor.description[i][0] for i in range(len(cursor.description)) if cursor.description[i][0]])
            data = []
            for row in result:
                data.append(np.array([row[i] for i in range(len(row))]))
            df_table = pd.DataFrame(data, columns=columns_name)
        except Exception:
            traceback.print_exc()
    return df_table

In [4]:
# Query to retrieve all participant from 2022-05-31
def getParticipantMay():  
    query = """
    SELECT participant.id, participant.URI as participant_URI, participer.URI as participer_URI, timestamp_server as timestamp_MAI 
    FROM participer, participant, activite, connexion 
    WHERE participant.id=participer.id 
    AND participer.id=activite.id 
    AND timestamp REGEXP \"2022-05-31\" 
    ORDER BY timestamp DESC 
    """
    return query_db(query)

# Query to retrieve all participant from 2022-06-03
def getParticipantJune():   
    query = """
    SELECT participant.id, participant.URI as participant_URI, participer.URI as participer_URI, timestamp_server as timestamp_JUIN 
    FROM participer, participant, activite, connexion 
    WHERE participant.id=participer.id 
    AND participer.id=activite.id 
    AND timestamp REGEXP \"2022-06-03\" 
    ORDER BY timestamp DESC
    """
    return query_db(query)

# Query to DEBUG
def getParticipantMyself(): 
    query = """
    SELECT participant.id, participant.URI as participant_URI, participer.URI as participer_URI, timestamp_server 
    FROM participer, participant, activite, connexion 
    WHERE participant.id=participer.id 
    AND participer.id=activite.id 
    AND timestamp REGEXP \"2022-07-09\" 
    ORDER BY timestamp DESC
    """

def getParticipantExercices(learnerID=None, sujetURI="concours.castor-informatique.fr/"):
    temp = Template("""
    SELECT participant.id as LEARNER, sujet.URI as SUJET, version as VER, type_erreur as ERR, experimentation as EXP, score, validation.timestamp
    FROM participant, participer, connexion, validation, sujet
    WHERE participant.id=participer.id_participant
    AND participer.id=connexion.id_participation
    AND connexion.id=validation.id_connexion
    AND validation.id_sujet=sujet.id
    AND sujet.URI REGEXP "$sujet"
    GROUP BY participant.id, validation.timestamp
    ORDER BY validation.timestamp ASC
    """)
    temp2 = Template("""
    SELECT participant.id as LEARNER, sujet.URI as SUJET, version as VER, type_erreur as ERR, experimentation as EXP, score, validation.timestamp
    FROM participant, participer, connexion, validation, sujet
    WHERE participant.id=participer.id_participant
    AND participer.id=connexion.id_participation
    AND connexion.id=validation.id_connexion
    AND validation.id_sujet=sujet.id
    AND sujet.URI REGEXP "$sujet"
    AND participant.id=$participantID
    GROUP BY participant.id, validation.timestamp
    ORDER BY validation.timestamp ASC
    """)
    if learnerID==None:
        query = temp.substitute(sujet=sujetURI)
    else:
        query = temp2.substitute(participantID=learnerID, sujet=sujetURI)
    return query_db(query)

In [5]:
# Merge dataframes using participant URI
# res = pd.merge(getParticipantMay(), getParticipantJune(), how='inner', on=['participant_URI'])
particip_may       = getParticipantMay()
particip_june      = getParticipantJune()

In [6]:
particip_exercices = getParticipantExercices()       # Get query result in a dataFrame

In [7]:
particip_exercices

,LEARNER,SUJET,VER,ERR,EXP,score,timestamp
0,132,concours.castor-informatique.fr/2-allers-retou...,2,Erreur de solution,0,0,2021-06-08 18:17:25
1,132,concours.castor-informatique.fr/2-allers-retou...,2,Erreur de solution,0,0,2021-06-08 18:17:33
2,132,concours.castor-informatique.fr/2-allers-retou...,2,Erreur de solution,0,0,2021-06-08 18:17:39
3,132,concours.castor-informatique.fr/2-allers-retou...,2,Erreur de solution,0,0,2021-06-08 18:17:48
4,132,concours.castor-informatique.fr/2-allers-retou...,2,Erreur de solution,0,0,2021-06-08 18:17:54
...,...,...,...,...,...,...,...
53049,4692,concours.castor-informatique.fr/7-avertisseur-...,2,Aucune,1,0,2021-07-22 16:31:09
53050,4692,concours.castor-informatique.fr/7-avertisseur-...,2,Erreur de solution,0,0,2021-07-22 16:32:29
53051,4692,concours.castor-informatique.fr/7-avertisseur-...,2,Erreur de solution,0,0,2021-07-22 16:34:25
53052,4692,concours.castor-informatique.fr/7-avertisseur-...,2,Erreur de solution,0,0,2021-07-22 16:35:25
53053,4692,concours.castor-informatique.fr/7-avertisseur-...,2,Aucune,0,100,2021-07-22 16:35:56

In [8]:
def getPossibleLearnerIDs(data):
    learnerIDs = set()
    dataSize = len(data)
    for i in range(dataSize):
        learnerIDs.add(data["LEARNER"][i])
    return learnerIDs

IDs = getPossibleLearnerIDs(data=particip_exercices) # Get all possible learnerIDs
IDs

{132,
 136,
 162,
 163,
 167,
 173,
 176,
 180,
 182,
 183,
 184,
 185,
 187,
 188,
 189,
 190,
 191,
 192,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 210,
 212,
 213,
 218,
 221,
 222,
 233,
 234,
 235,
 236,
 238,
 240,
 241,
 242,
 243,
 245,
 247,
 251,
 252,
 253,
 255,
 257,
 259,
 261,
 263,
 267,
 268,
 269,
 270,
 274,
 275,
 276,
 279,
 280,
 282,
 283,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 299,
 300,
 301,
 302,
 303,
 305,
 306,
 307,
 308,
 309,
 311,
 312,
 313,
 314,
 317,
 318,
 319,
 320,
 321,
 323,
 324,
 329,
 330,
 333,
 338,
 340,
 341,
 350,
 351,
 352,
 353,
 354,
 357,
 359,
 360,
 361,
 364,
 365,
 367,
 369,
 373,
 374,
 376,
 377,
 378,
 400,
 401,
 402,
 403,
 409,
 410,
 411,
 412,
 413,
 415,
 425,
 427,
 428,
 434,
 435,
 441,
 442,
 444,
 445,
 447,
 450,
 452,
 454,
 455,
 456,
 457,
 458,
 460,
 461,
 463,
 465,
 469,
 470,
 475,
 476,
 477,
 482,
 495,
 497,
 502,
 503,
 509,
 510,
 516,
 517,
 519,
 520,
 526,
 528,
 529,
 530,
 536,
 537,
 542,
 544,
 548,
 550,
 551,
 552,
 558,
 559,
 560,
 561,
 562,
 563,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 594,
 595,
 596,
 597,
 599,
 600,
 604,
 605,
 606,
 608,
 614,
 615,
 616,
 617,
 618,
 633,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 644,
 645,
 646,
 648,
 649,
 650,
 653,
 657,
 659,
 661,
 662,
 664,
 665,
 666,
 667,
 668,
 670,
 672,
 674,
 679,
 680,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 695,
 696,
 698,
 699,
 701,
 702,
 709,
 710,
 711,
 714,
 715,
 732,
 735,
 736,
 737,
 738,
 739,
 741,
 742,
 743,
 744,
 747,
 751,
 755,
 758,
 760,
 761,
 762,
 764,
 765,
 768,
 772,
 778,
 779,
 789,
 790,
 791,
 793,
 794,
 797,
 798,
 799,
 801,
 802,
 804,
 805,
 809,
 810,
 811,
 812,
 813,
 819,
 821,
 823,
 828,
 834,
 835,
 836,
 839,
 843,
 848,
 849,
 851,
 852,
 853,
 854,
 855,
 856,
 858,
 860,
 862,
 863,
 864,
 866,
 867,
 879,
 880,
 881,
 882,
 883,
 885,
 886,
 887,
 888,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 907,
 908,
 910,
 913,
 919,
 921,
 929,
 934,
 947,
 956,
 958,
 959,
 961,
 962,
 963,
 964,
 965,
 969,
 970,
 973,
 975,
 976,
 977,
 979,
 982,
 984,
 985,
 986,
 987,
 990,
 992,
 998,
 999,
 1003,
 1006,
 1011,
 1012,
 1013,
 1020,
 1021,
 1023,
 1035,
 1040,
 1053,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1106,
 1112,
 1113,
 1114,
 1115,
 1122,
 1127,
 1133,
 1135,
 1137,
 1138,
 1167,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1195,
 1226,
 1228,
 1229,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1236,
 1238,
 1239,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1253,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1268,
 1272,
 1276,
 1277,
 1279,
 1280,
 1283,
 1285,
 1286,
 1287,
 1288,
 1290,
 1291,
 1292,
 1293,
 1296,
 1297,
 1299,
 1301,
 1305,
 1308,
 1309,
 1310,
 1311,
 1312,
 1313,
 1315,
 1316,
 1320,
 1321,
 1326,
 1328,
 1329,
 1330,
 1331,
 1334,
 1335,
 1336,
 1337,
 1338,
 1339,
 1340,
 1341,
 1342,
 1346,
 1347,
 1350,
 1352,
 1353,
 1354,
 1355,
 1356,
 1357,
 1358,
 1359,
 1360,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1369,
 1370,
 1371,
 1372,
 1378,
 1381,
 1382,
 1383,
 1389,
 1393,
 1402,
 1403,
 1406,
 1407,
 1410,
 1412,
 1416,
 1417,
 1419,
 1426,
 1427,
 1428,
 1429,
 1430,
 1431,
 1432,
 1433,
 1434,
 1435,
 1436,
 1438,
 1442,
 1443,
 1444,
 1445,
 1446,
 1454,
 1455,
 1456,
 1459,
 1460,
 1462,
 1464,
 1467,
 1468,
 1485,
 1498,
 1504,
 1507,
 1508,
 1513,
 1514,
 1515,
 1519,
 1520,
 1522,
 1525,
 1528,
 1541,
 1549,
 1550,
 1552,
 1569,
 1570,
 1572,
 1576,
 1579,
 1585,
 1594,
 1605,
 1606,
 1610,
 1612,
 1614,
 1616,
 1624,
 1626,
 1630,
 1631,
 1633,
 1636,
 1656,
 1661,
 1686,
 1687,
 1689,
 1693,
 1694,
 1704,
 1711,
 1712,
 1713,
 1728,
 1735,
 1737,
 1739,
 1740,
 1742,
 1744,
 1746,
 1747,
 1748,
 1749,
 1750,
 1751,
 1752,
 1753,
 1754,
 1755,
 1756,
 1758,
 1764,
 1772,
 1780,
 1781,
 1782,
 1783,
 1784,
 1786,
 1787,
 1789,
 1791,
 1792,
 1793,
 1794,
 1795,
 1796,
 1797,
 1798,
 1799,
 1802,
 1803,
 1809,
 1819,
 1826,
 1827,
 1828,
 1830,
 1832,
 1833,
 1834,
 1835,
 1838,
 1839,
 1840,
 1841,
 1842,
 1844,
 1845,
 1847,
 1848,
 1849,
 1850,
 1851,
 1852,
 1853,
 1855,
 1856,
 1858,
 1860,
 1863,
 1871,
 1872,
 1874,
 1875,
 1882,
 1883,
 1884,
 1886,
 1896,
 1903,
 1920,
 1922,
 1925,
 1942,
 1943,
 1949,
 1956,
 1959,
 1967,
 1969,
 1970,
 1974,
 1975,
 1976,
 1978,
 1980,
 1984,
 1986,
 1987,
 1989,
 1990,
 1992,
 1993,
 1994,
 1995,
 1996,
 1999,
 2001,
 2002,
 2005,
 2006,
 2008,
 2012,
 2014,
 2019,
 2020,
 2021,
 2023,
 2024,
 2026,
 2027,
 2028,
 2031,
 2032,
 2043,
 2044,
 2049,
 2051,
 2052,
 2054,
 2061,
 2062,
 2065,
 2068,
 2069,
 2070,
 2071,
 2072,
 2074,
 2075,
 2076,
 2077,
 2078,
 2079,
 2081,
 2082,
 2084,
 2085,
 2086,
 2087,
 2090,
 2091,
 2092,
 2093,
 2094,
 2095,
 2096,
 2098,
 2099,
 2100,
 2103,
 2105,
 2109,
 2110,
 2114,
 2115,
 2116,
 2118,
 2120,
 2121,
 2122,
 2123,
 2124,
 2125,
 2126,
 2127,
 2128,
 2129,
 2132,
 2133,
 2137,
 2139,
 2140,
 2141,
 2142,
 2143,
 2144,
 2146,
 2147,
 2148,
 2149,
 2151,
 2152,
 2153,
 2154,
 2155,
 2158,
 2169,
 2175,
 2176,
 2180,
 2182,
 2183,
 2190,
 2196,
 2200,
 2205,
 2210,
 2212,
 2217,
 2224,
 2228,
 2247,
 2250,
 2252,
 2253,
 2254,
 2255,
 2256,
 2259,
 2261,
 2267,
 2271,
 2272,
 2274,
 2275,
 2277,
 2279,
 2281,
 2282,
 2283,
 2296,
 2308,
 2309,
 2310,
 2312,
 2313,
 2314,
 2315,
 2316,
 2317,
 2318,
 2319,
 2321,
 2323,
 2326,
 2327,
 2330,
 2332,
 2335,
 2347,
 2352,
 2357,
 2358,
 2359,
 2360,
 2361,
 2362,
 2364,
 2365,
 2368,
 2369,
 2371,
 2375,
 2376,
 2377,
 2381,
 2382,
 2383,
 2386,
 2387,
 2389,
 2390,
 2393,
 2394,
 2395,
 2396,
 2397,
 2399,
 2400,
 2401,
 2402,
 2403,
 2404,
 2405,
 2406,
 2407,
 2409,
 2410,
 2411,
 2412,
 2413,
 2414,
 2415,
 2416,
 2417,
 2418,
 2419,
 2421,
 2422,
 2424,
 2425,
 2431,
 2433,
 2439,
 2449,
 2455,
 2456,
 2457,
 2458,
 2459,
 2460,
 2461,
 2462,
 2463,
 2464,
 2465,
 2467,
 2482,
 2493,
 2523,
 2524,
 2528,
 2529,
 2533,
 2534,
 2536,
 2538,
 2543,
 2545,
 2546,
 2547,
 2548,
 2549,
 2550,
 2551,
 2552,
 2553,
 2554,
 2556,
 2557,
 2558,
 2588,
 2593,
 2598,
 2599,
 2600,
 2601,
 ...}

In [9]:
def updateDataColumnVal(data, columnName, updateFunc):
    dataSize = len(data)
    for i in range(dataSize):
        data[columnName][i] = updateFunc(data[columnName][i])
    return data

def getSubjectName(subjectURI):
    if subjectURI=="concours.castor-informatique.fr/1-melodie":
        return "Melodie"
    elif subjectURI=="concours.castor-informatique.fr/2-allers-retours-de-LEDs":
        return "Alternance"
    elif subjectURI=="concours.castor-informatique.fr/3-allers-retours-de-LEDs":
        return "Show Lumineux"
    elif subjectURI=="concours.castor-informatique.fr/4-afficher-la-direction":
        return "Quelle Direction"
    elif subjectURI=="concours.castor-informatique.fr/5-instrument-de-musique":
        return "Instrument"  # à vérifier dans la palteforme Quick-Pi
    elif subjectURI=="concours.castor-informatique.fr/6-light-show-2":
        return "Show Lumineux 2"
    elif subjectURI=="concours.castor-informatique.fr/7-avertisseur-de-recul":
        return "Avertisseur" # à vérifier dans la plateforme Quick-Pi
    elif subjectURI=="concours.castor-informatique.fr/8-servo-chronometre":
        return "Servo Chronometré"
particip_exercices=updateDataColumnVal(data=particip_exercices, 
                                       columnName="SUJET",
                                       updateFunc=getSubjectName)

/home/amine102/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
particip_exercices

,LEARNER,SUJET,VER,ERR,EXP,score,timestamp
0,132,Alternance,2,Erreur de solution,0,0,2021-06-08 18:17:25
1,132,Alternance,2,Erreur de solution,0,0,2021-06-08 18:17:33
2,132,Alternance,2,Erreur de solution,0,0,2021-06-08 18:17:39
3,132,Alternance,2,Erreur de solution,0,0,2021-06-08 18:17:48
4,132,Alternance,2,Erreur de solution,0,0,2021-06-08 18:17:54
...,...,...,...,...,...,...,...
53049,4692,Avertisseur,2,Aucune,1,0,2021-07-22 16:31:09
53050,4692,Avertisseur,2,Erreur de solution,0,0,2021-07-22 16:32:29
53051,4692,Avertisseur,2,Erreur de solution,0,0,2021-07-22 16:34:25
53052,4692,Avertisseur,2,Erreur de solution,0,0,2021-07-22 16:35:25
53053,4692,Avertisseur,2,Aucune,0,100,2021-07-22 16:35:56

In [11]:
#Filter dataFrame according to what you want (learnerID/version, etc.)
particip_exercices[  (particip_exercices.LEARNER==list(IDs)[3]) 
                   & (particip_exercices['SUJET'].str.contains('|'.join(["Melodie", "Alternance"])))
                  # & (particip_exercices.VER==2)
                  # & (particip_exercices.score==100)
                  ]

     LEARNER       SUJET  VER     ERR  EXP  score           timestamp
103      163     Melodie    2  Aucune    1      0 2021-06-09 06:45:35
104      163     Melodie    2  Aucune    1      0 2021-06-09 06:45:36
105      163     Melodie    2  Aucune    1      0 2021-06-09 06:45:46
106      163     Melodie    2  Aucune    1      0 2021-06-09 06:45:52
107      163     Melodie    2  Aucune    1      0 2021-06-09 06:45:53
110      163  Alternance    2  Aucune    1      0 2021-06-09 06:47:00
111      163  Alternance    2  Aucune    1      0 2021-06-09 06:47:06
112      163  Alternance    2  Aucune    1      0 2021-06-09 06:47:08
114      163  Alternance    2  Aucune    1      0 2021-06-09 06:47:41
115      163  Alternance    2  Aucune    1      0 2021-06-09 06:47:53

In [12]:
"""
Build a Criteria list:
    + A learner must at least validate one or multiple exercices   (eg. requireValidation= True)
    + A learner must at least experiment one or multiple exercices (eg.requireExperiment=True)
    + A learner must at least validate an exercice of a specific version (eg. requireVersion=[2,3,4])
    + A learner must satisfies the criteria below on this exercises pool (eg. requireExercices=["Melodie","Alternance", ...])
"""
def selectLearners(data,
                  learnerIDs,
                  requireExercices=[],
                  requireVersion=[],
                  requireValidation=False,
                  requireExperiment=False,
                  ):   
    selectedLearners = []
    for learnerID in learnerIDs:
        # Checkers variables to see if criterias of selection are met
        exerciceCheck   = False
        versionCheck    = False
        validationCheck = False
        experimentCheck = False
        # Filter the data by the current learnerID of the for loop
        tempData = data[data.LEARNER==learnerID]
        if requireExercices!=[]:
            tempExo = set()
            tempData = tempData[(tempData['SUJET'].str.contains('|'.join(requireExercices), na=False))]
            for i in tempData['SUJET']:  # Loop to check if filtering the data have indeed all the exercices listed
                tempExo.add(i)
            if len(tempExo)==len(requireExercices):
                exerciceCheck = True
            else:
                continue
        if requireVersion!=[]:
            tempVersion = set()
            tempData = tempData[(tempData['VER'].astype(str).str.contains('|'.join(requireVersion), na=False))]
            for i in tempData['VER']:  # Loop to check if filtering the data have indeed all the exercices listed
                tempVersion.add(i)
            if len(tempVersion)==len(requireVersion):
                versionCheck = True
            else:
                continue
        if requireValidation:
            tempData2 = tempData[tempData.score==100]  # Filter temp data by keeping only exercices that have been validated
            if len(tempData2)<len(requireExercices):
                continue
            else:
                validationCheck = True
        if requireExperiment:
            tempData2 = tempData[tempData.EXP==1]
            if len(tempData2)<len(requireExercices):
                continue
            else:
                experimentCheck = True
        selectedLearners.append(learnerID)
    return selectedLearners

In [13]:
learners = selectLearners(data=particip_exercices,
                          learnerIDs = IDs,
                          requireExercices  = ["Melodie", "Alternance"],
                          requireVersion    = ["2", "3"],
                          requireValidation = False,
                          requireExperiment = False)

# mettre également les apprenants qui ne valident pas
# à verifier si les exercices sont faits en séquence (ordre : Mélodie, Alternance)
# Petit schéma d'extraction des données pour avoir le tableau global

In [14]:
len(learners)

632

In [57]:
particip_exercices[  (particip_exercices.LEARNER==learners[2])
                   & (particip_exercices['SUJET'].str.contains('|'.join(["Melodie","Alternance"])))
                   & (particip_exercices.VER==4)
                  ].reset_index()

,index,LEARNER,SUJET,VER,ERR,EXP,score,timestamp
0,122,173,Melodie,4,Erreur de solution,0,0,2021-06-09 07:06:38
1,129,173,Melodie,4,Erreur de solution,0,0,2021-06-09 07:07:33
2,133,173,Melodie,4,Erreur de solution,0,0,2021-06-09 07:08:00
3,136,173,Melodie,4,Erreur de solution,0,0,2021-06-09 07:08:47
4,147,173,Melodie,4,Aucune,0,100,2021-06-09 07:12:10

## Export one dataframe per learner in a csv file

In [27]:
def expressExercisingMode(exerciceMode):
    if exerciceMode=="Validation sans erreur":
        return "valide sans erreur"
    elif exerciceMode=="Validation avec erreur":
        return "valide avec erreur"
    else:
        return "expérimente"

def getExercisingMode(experiment, score):
    if experiment==0 and score==100:
        return "Validation sans erreur"
    elif experiment==0 and score==0:
        return "Validation avec erreur"
    else:
        return "Experiment"
    
def getExercisingMode_(experiment, score):
    if experiment==0 and score==100:
        return "VAL+"
    elif experiment==0 and score==0:
        return "VAL-"
    else:
        return "EXP"

def getExerciceSkill(exoName, exoVersion):
    if exoName=="Melodie":
        if exoVersion==2:
            return ["C1*"]
        elif exoVersion==3 or exoVersion==4:
            return ["C2*"]
    elif exoName=="Alternance":
        if exoVersion==2 or exoVersion==3 or exoVersion==4:
            return ["C1","C2","C3*"]
    elif exoName=="Show Lumineux":
        if exoVersion==2 or exoVersion==3 or exoVersion==4:
            return ["C1","C2","C3*"]
    elif exoName=="Quelle Direction":
        if exoVersion==2 or exoVersion==3 or exoVersion==4:
            return ["C1","C2","C4","C6*"]
    elif exoName=="Instrument":
        if exoVersion==2 or exoVersion==3 or exoVersion==4:
            return ["C1","C2","C4","C6","C7*"]
    elif exoName=="Show Lumineux 2":
        if exoVersion==2 or exoVersion==3 or exoVersion==4:
            return ["C2","C5*","C6"]
    elif exoName=="Avertisseur":
        if exoVersion==2 or exoVersion==3 or exoVersion==4:
            return ["C1","C2","C3","C4","C6*","C7"]
    elif exoName=="Servo Chronometre":
        if exoVersion==2:
            return ["C1","C2","C3","C4","C6","C7*"]
        elif exoVersion==3 or exoVersion==4:
            return ["C2","C3","C4","C6","C7*"]
    elif exoName=="Sommeil Agreable":
        if exoVersion==2 or exoVersion==3 or exoVersion==4:
            return ["C2","C4","C6","C7*","C10"]
    elif exoName=="Reveil Matin":
        if exoVersion==2:
            return ["C1","C2","C4*","C9"]
        elif exoVersion==3 or exoVerion==4:
            return ["C1","C2","C4*","C9","C10"]
    elif exoName=="Secousses":
        if exoVersion==2:
            return ["C1","C2","C4*","C6","C7","C8","C9","C11*","C12"]
        elif exoVersion==3 or exoVersion==4:
            return ["C1","C2","C4*","C6","C7","C8","C9","C10","C11*","C12"]
    elif exoName=="Detection mouvement":
        if exoVersion==2:
            return ["C1","C2","C3","C4","C6","C7","C8","C9","C11*","C12"]
        elif exoVersion==3 or exoVersion==4:
            return ["C1","C2","C3","C4","C6","C7","C8","C9","C10","C11*","C12"]
    elif exoName=="Sirene":
        if exoVersion==2:
            return ["C2","C3","C4","C6","C7","C8","C9","C11*","C12"]
        elif exoVersion==3 or exoVersion==4:
            return ["C2","C3","C4","C6","C7","C8","C9","C10","C11*","C12"]
    elif exoName=="Applaudimetre":
        if exoVersion==2:
            return ["C1","C2","C4","C6","C7","C9","C10","C11*"]
        elif exoVersion==3:
            return ["C1","C2","C3","C6","C7","C9","C10","C11*"]
        elif exoVersion==4:
            return ["C1","C2","C3","C4","C6","C7","C8","C9","C10","C11*"]
    elif exoName=="Binaire":
        if exoVersion==2 or exoVersion==3 or exoVersion==4:
            return ["C1","C2","C3","C4","C6","C7","C8","C9","C10","C11*"]
    elif exoName=="Bille":
        if exoVersion==2 or exoVersion==3 or exoVersion==4:
            return ["C1","C2","C3","C5","C6","C7","C8","C9","C10","C11*"]
        
# returns a full exercicsing scenario for only one learner and one exercice
def scenarioSummary_Exercice(Learner):
    temp = Template("""
    ----------------------------------------------------------------------------
    t=$count,
    LearnerID: $learnerID,
    Connexion: $timestamp_co,
    Exercice:  $sujet,
    Version:   $sujetVer,
    Mode   :   $exMode,
    Error  :   $err,
    ----------------------------------------------------------------------------
    """)

# Automatically describe an exercising scenario for each learner (using learnerID), exercices, exercice version.
# data needs to be constrained for one learner, one exercice and one version. Filter the data before using scenarioDesc
def scenarioDesc(data):
    data = data.reset_index() # avoid any issues with indexations
    temp = Template("""
    * L'apprenant $learner commence l'exercice $exerciceName de version $exoVersion sur Quick-Pi;
    * Les compétences mobilisé dans l'exercice sont : $exoSkill;
    """)
    print(temp.substitute(learner=data["LEARNER"][0],
                    exerciceName=data["SUJET"][0], 
                    exoVersion=data["VER"][0],
                    exoSkill=getExerciceSkill(data["SUJET"][0], data["VER"][0])))
    temp2 = Template("""+ T=$count: à l'instant $timestamp_exo, l'apprenant $exerciceMode l'exercice $exerciceName;""")
    scenarioIter = str()
    scenario = str()
    dataSize = len(data)
    for timeStep in range(dataSize):
        print(temp2.substitute(
            count = timeStep,
            timestamp_exo=data["timestamp"][timeStep],
            learner=data["LEARNER"][timeStep],
            exerciceName=data["SUJET"][timeStep],
            exerciceMode=expressExercisingMode(getExercisingMode(data["EXP"][timeStep], data["score"][timeStep]))))
        scenarioIter += str(temp2)
    scenario = str(temp) + str(temp2)
    #return scenario

In [29]:
particip_exercices[
    (particip_exercices.LEARNER==learners[12])
    & (particip_exercices.SUJET=='Melodie')
    & (particip_exercices.VER==2)]

     LEARNER    SUJET  VER     ERR  EXP  score           timestamp
542      222  Melodie    2  Aucune    0    100 2021-06-09 07:31:07

In [33]:
 scenarioDesc(particip_exercices[
    (particip_exercices.LEARNER==learners[3])
    & (particip_exercices.SUJET=='Melodie')
    & (particip_exercices.VER==2)])
# scenariser cette experience avec le format xAPI (en json)

    * L'apprenant 176 commence l'exercice Melodie de version 2 sur Quick-Pi;
    * Les compétences mobilisé dans l'exercice sont : ['C1*'];

+ T=0: à l'instant 2021-06-09 07:06:59, l'apprenant expérimente l'exercice Melodie;
+ T=1: à l'instant 2021-06-09 07:07:53, l'apprenant expérimente l'exercice Melodie;
+ T=2: à l'instant 2021-06-09 07:07:55, l'apprenant expérimente l'exercice Melodie;
+ T=3: à l'instant 2021-06-09 07:07:59, l'apprenant expérimente l'exercice Melodie;
+ T=4: à l'instant 2021-06-09 07:08:00, l'apprenant expérimente l'exercice Melodie;
+ T=5: à l'instant 2021-06-09 07:08:02, l'apprenant expérimente l'exercice Melodie;

In [21]:
def genEvalData(data, learner, sujet, version):
    df = data[
    (data.LEARNER==learner)
    & (data.SUJET==sujet)
    & (data.VER==version)]
    df = df.reset_index()
    dataSize = len(df)
    result = [{'LEARNER' : learner, 
               'TIMESTEP': i,
               'EXERCICE': sujet,
               'SKILL':getExerciceSkill(sujet, version),
               'VALID/EXP':getExercisingMode_(df['EXP'][i], df['score'][i])} for i in range(dataSize)]
    df_r = pd.DataFrame(result)
    return df_r

In [22]:
df = genEvalData(data    = particip_exercices,
                 learner = learners[0],
                 sujet   = "Alternance",
                 version = 2
                )
df

IndexError: list index out of range

In [66]:
df.to_csv('EvalData/eval_data.csv')

In [67]:
def genAllEvalData(data, learnerPool, sujet, version):
    df   = pd.DataFrame()
    df_r = pd.DataFrame()
    for i in range(len(learnerPool)):
        df = genEvalData(data, learner = learnerPool[i], sujet=sujet, version=version)
        df_r = df_r.append(df, ignore_index=True)
        # df   = pd.DataFrame()
    return df_r

In [68]:
df = genAllEvalData(data    = particip_exercices,
                 learnerPool = learners,
                 sujet   = "Alternance",
                 version = 2
                )
df

      LEARNER  TIMESTEP    EXERCICE          SKILL VALID/EXP
0         162         0  Alternance  [C1, C2, C3*]      VAL-
1         162         1  Alternance  [C1, C2, C3*]      VAL+
2         163         0  Alternance  [C1, C2, C3*]       EXP
3         163         1  Alternance  [C1, C2, C3*]       EXP
4         163         2  Alternance  [C1, C2, C3*]       EXP
...       ...       ...         ...            ...       ...
6250     4674         0  Alternance  [C1, C2, C3*]       EXP
6251     4674         1  Alternance  [C1, C2, C3*]      VAL-
6252     4674         2  Alternance  [C1, C2, C3*]      VAL+
6253     4692         0  Alternance  [C1, C2, C3*]       EXP
6254     4692         1  Alternance  [C1, C2, C3*]      VAL+

[6255 rows x 5 columns]

In [69]:
df.to_csv('EvalData/eval_data.csv')

In [70]:
# All of the below functions will serve us to create learner Profile.

In [1]:
 scenarioDesc(particip_exercices[
    (particip_exercices.LEARNER==learners[0])
    & (particip_exercices.SUJET=='')
    & (particip_exercices.VER==2)])

NameError: name 'scenarioDesc' is not defined